@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";
.ReviewSection {
    display: block;
    background-color: $cream;
    padding: rem(20) 0;
    &_box {
        @include atMedium {
            position: relative;
            bottom: 40px;
        }
        &_widget {
            div {
                max-width: 100%;
            }
        }
    }
    ul:global(#CEkFmKrMfu1) {
        list-style: none;
        padding: 0;
    }
}