@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/functions";
.Hero {
    position: relative;
    height: 100vh;
    max-height: rem(860);
    &_image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_video {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.8s;
        object-fit: cover;
        pointer-events: none;
        @include atMedium {
            display: none;
        }
        &___loaded {
            opacity: 1
        }
    }
    &_overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: linear-gradient( 180deg, $black 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 60%, $black 95%);
        mix-blend-mode: overlay;
    }
    &_content {
        color: #fff;
        text-shadow: 1px 1px 4px rgb(0 0 0 / 60%);
        &_center {
            @include center;
            width: 100%;
            text-align: center;
            &_head {
                font-size: rem(22);
            }
            &_sub {
                font-family: $secondaryFont;
                font-size: rem(32);
            }
            &_buttons {
                margin: rem(10);
            }
        }
        &_bottom {
            position: absolute;
            padding: rem(20);
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%) scale(1.2);
            transition: 0.4s;
            opacity: 0;
            &___active {
                bottom: 0;
                transform: translateX(-50%) scale(1);
                opacity: 0.6;
            }
        }
    }
}