@import './functions';
@mixin atSmall {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin atLarge {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin atXlarge {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: rem(20);
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}