// Fonts
$secondaryFont: 'Crete Round',
serif;
// Colors
$black: #0c0c0c;
$deepRed: #240000;
$darkGrey: #212121;
// Old vars
$mainRed: #bd1b1b;
$darkRed: #a31717;
$lightRed: #db1f1f;
$darkBlue: #175fa3;
$lightBlue: #1b6fbd;
$darkGreen: #17a32c;
$lightGreen: #1bbd32;
$lightGrey: #eee;
$redGradient: linear-gradient(60deg, $lightRed, $darkRed);
$blueGradient: linear-gradient(60deg, $lightBlue, $darkBlue);
$greenGradient: linear-gradient(60deg, $lightGreen, $darkGreen);
$rainbowGradient: linear-gradient(90deg, $mainRed, $lightGreen, $lightBlue);
$shadow: 2px 2px 4px rgba(0, 0, 0, .4);
$lightShadow: 2px 2px 4px rgba(0, 0, 0, 0.1);