// Fonts
$primaryFont: 'Poppins',
sans-serif;
$secondaryFont: 'Crete Round',
serif;
// Colors
$black: #161616;
$darkGrey: #434343;
$mainRed: #D34242;
$darkRed: #891d1d;
$deepRed: #240000;
$orange: #E38F40;
$cream: #f9eede;
// Other
$shadow: 0px 0px 6px rgba(0, 0, 0, .2);
// Old vars
$lightRed: #db1f1f;
$darkBlue: #175fa3;
$lightBlue: #1b6fbd;
$darkGreen: #17a32c;
$lightGreen: #1bbd32;
$lightGrey: #eee;
$redGradient: linear-gradient(60deg, $lightRed, $darkRed);
$blueGradient: linear-gradient(60deg, $lightBlue, $darkBlue);
$greenGradient: linear-gradient(60deg, $lightGreen, $darkGreen);
$rainbowGradient: linear-gradient(90deg, $mainRed, $lightGreen, $lightBlue);
$lightShadow: 2px 2px 4px rgba(0, 0, 0, 0.1);