@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
.Form {
    max-width: 620px;
    margin: rem(40) auto;
    padding: rem(20);
    box-shadow: $shadow;
    &_head {
        text-align: center;
    }
    &_progressHead {
        text-align: center;
        margin: rem(20);
    }
    &_buttons {
        display: flex;
        margin-top: rem(20);
        &_right {
            margin-left: auto;
        }
    }
    &_success {
        font-family: $secondaryFont;
        color: $green;
        font-size: rem(24);
        text-align: center;
        margin-bottom: rem(10);
    }
    &_errors {
        ul {
            margin: 0;
            padding: rem(10) 0;
            list-style: none;
            color: $mainRed;
        }
    }
    &_inputs {
        $padding: rem(8);
        max-width: 460px;
        margin: rem(40) auto;
        &_label {
            position: relative;
            display: block;
        }
        &_error {
            position: absolute;
            bottom: -20px;
            left: 10px;
            color: $mainRed;
            font-size: rem(14);
            @include atMedium {
                top: -20px;
                bottom: auto;
                right: 10px;
                left: auto;
            }
        }
        &_input {
            $this: &;
            $transitionSpeed: 200ms;
            width: 100%;
            display: block;
            padding: $padding;
            padding-right: rem(20);
            border-radius: 4px;
            margin: rem(20) 0;
            appearance: none;
            border: solid 1px $lightGrey;
            transition: margin $transitionSpeed;
            &:focus {
                border-color: $darkGrey;
            }
            &:focus,
            &:not(:placeholder-shown) {
                margin-top: rem(36);
                ~#{$this}_placeholder {
                    top: -15px
                }
            }
            &___error {
                margin-bottom: rem(44);
                @include atMedium {
                    margin-bottom: rem(20);
                }
            }
            &_placeholder {
                padding-left: $padding;
                @include center-x;
                color: $grey;
                text-transform: capitalize;
                transition: top $transitionSpeed;
                pointer-events: none;
            }
            &::placeholder {
                opacity: 0;
            }
        }
        &_checkbox {
            display: inline-block;
        }
    }
}