@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
.Form {
    max-width: 620px;
    margin: rem(40) auto;
    padding: rem(20);
    box-shadow: $shadow;
    &_head {
        text-align: center;
    }
    &_progressHead {
        text-align: center;
        margin: rem(20);
    }
    &_buttons {
        display: flex;
        &_right {
            margin-left: auto;
        }
    }
    &_inputs {
        $padding: rem(8);
        max-width: 460px;
        margin: rem(40) auto;
        &_label {
            position: relative;
            display: block;
        }
        &_input {
            $this: &;
            $transitionSpeed: 200ms;
            width: 100%;
            display: block;
            padding: $padding;
            padding-right: rem(20);
            border-radius: 4px;
            margin: rem(20) 0;
            appearance: none;
            border: solid 1px $lightGrey;
            transition: margin $transitionSpeed;
            &___small {
                max-width: rem(120);
                text-transform: uppercase;
            }
            &:focus {
                border-color: $darkGrey;
            }
            &:focus,
            &:not(:placeholder-shown) {
                margin-top: rem(36);
                ~#{$this}_placeholder {
                    top: -15px
                }
            }
            &_placeholder {
                padding-left: $padding;
                @include center-x;
                color: $grey;
                text-transform: capitalize;
                transition: top $transitionSpeed;
            }
            &::placeholder {
                opacity: 0;
                color: red;
            }
        }
    }
}