@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
.Form {
    max-width: 620px;
    margin: rem(40) auto;
    padding: rem(20);
    box-shadow: $shadow;
    &_head {
        text-align: center;
    }
    &_progressHead {
        text-align: center;
        margin: rem(20);
    }
    &_buttons {
        display: flex;
        &_right {
            margin-left: auto;
        }
    }
    &_success {
        font-family: $secondaryFont;
        color: $green;
        font-size: rem(24);
        text-align: center;
        margin-bottom: rem(10);
    }
    &_table {
        width: 100%;
        font-size: rem(12);
        $padding: rem(4) rem(6);
        border-collapse: collapse;
        @include atMedium {
            font-size: rem(16);
        }
        &_head {
            text-align: left;
            font-family: $secondaryFont;
            border-bottom: 1px solid $grey;
            th {
                padding: $padding;
            }
        }
        &_row {
            &:nth-of-type(odd) {
                background-color: rgba($mainRed, 0.1);
            }
            td {
                padding: $padding;
                &:first-of-type {
                    text-transform: capitalize;
                }
            }
        }
    }
    &_inputs {
        $padding: rem(8);
        max-width: 460px;
        margin: rem(40) auto;
        &_label {
            position: relative;
            display: block;
        }
        &_error {
            position: absolute;
            top: -20px;
            right: 10px;
            color: $mainRed;
            font-size: rem(14);
        }
        &_input {
            $this: &;
            $transitionSpeed: 200ms;
            width: 100%;
            display: block;
            padding: $padding;
            padding-right: rem(20);
            border-radius: 4px;
            margin: rem(20) 0;
            appearance: none;
            border: solid 1px $lightGrey;
            transition: margin $transitionSpeed;
            &:focus {
                border-color: $darkGrey;
            }
            &:focus,
            &:not(:placeholder-shown) {
                margin-top: rem(36);
                ~#{$this}_placeholder {
                    top: -15px
                }
            }
            &_placeholder {
                padding-left: $padding;
                @include center-x;
                color: $grey;
                text-transform: capitalize;
                transition: top $transitionSpeed;
                pointer-events: none;
            }
            &::placeholder {
                opacity: 0;
            }
        }
    }
}