@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&display=swap');
html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: $darkGrey;
    &::after {
        // Accommodate absolute positioned footer
        content: '';
        display: block;
        height: rem(449);
        @include atMedium {
            height: rem(301);
        }
    }
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: $secondaryFont;
    margin-top: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: $mainRed;
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}