@import "../../styles/variables";

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $darkGrey;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}

p a {
    color: $mainRed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative
}