@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/functions";
.ReviewSection {
    display: block;
    background-color: $cream;
    padding: rem(20) 0;
    @include atMedium {
        &_box {
            position: relative;
            bottom: 40px;
        }
    }
}