@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/functions";
.Nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    color: #fff;
    background: linear-gradient(180deg, $black 0%, $deepRed 100%);
    width: 100%;
    font-family: $secondaryFont;
    clip-path: circle(70px at 100% 0%);
    transition: clip-path 0.5s;
    will-change: clip-path;
    z-index: 10;
    @include atMedium {
        position: relative;
        background: none;
        clip-path: none;
        height: auto;
        color: $mainRed;
    }
    &___open {
        position: fixed;
        clip-path: circle(80% at 50% 50%);
        @include atMedium {
            position: relative;
        }
    }
    &___overlay {
        color: #fff;
        .Nav_menu_item {
            &:after {
                background-color: #fff;
            }
        }
    }
    &_menu {
        position: absolute;
        top: 25%;
        width: 100%;
        text-align: center;
        @include atMedium {
            position: relative;
            display: flex;
            align-items: center;
            top: unset;
        }
        &_item {
            position: relative;
            bottom: 10px;
            transition: opacity, bottom;
            transition-duration: 0.4s;
            opacity: 0;
            font-size: rem(24);
            letter-spacing: rem(4);
            display: block;
            padding: rem(16) rem(12);
            margin: rem(20) 0;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 1px;
                transition: 0.2s;
                background-color: #fff;
                @include atMedium {
                    background-color: $mainRed;
                }
            }
            &:hover, &___active {
                &::after {
                    width: 50px;
                    @include atMedium {
                        width: 30%;
                    }
                }
            }
            &___in {
                bottom: 0;
                opacity: 1;
            }
            @include atMedium {
                flex-grow: 1;
                font-size: rem(16);
                margin: 0;
                opacity: 1;
                transition-delay: 0s!important;
            }
        }
    }
}