@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/functions';
.Header {
    width: 100%;
    display: flex;
    padding: rem(10) 0;
    z-index: 10;
    &_container {
        display: flex;
        align-items: center;
        width: 100%;
        @include container(false);
    }
    &_image {
        max-width: 220px;
        padding: rem(10) 0;
    }
    &___overlay {
        position: absolute;
    }
}