@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/functions';
.Header {
    position: absolute;
    width: 100%;
    display: flex;
    padding: rem(10);
    z-index: 10;
    &_container {
        display: flex;
        width: 100%;
        @include container;
    }
    &_image {
        display: block;
        max-width: 200px;
    }
}